* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

li {
   list-style-type: none
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* -------------HEADER--------------- */

.container {
  width: 70%;
  height: 200px;
  margin: 0 auto;
}
/* -------------------------------------------- */
.navigation {
  display: flex;
  height: 200px;
}

/* THIS IS THE LOGO */
.navigation .fa-registered {
  font-size: 30px;
  padding-right: 60px;
}

.navigation div:first-of-type {
  display: flex;
  align-items: center;
}

.all-the-links {
  width: 100%;
  height: 100%;
  display: flex;
}

.all-the-links ul:first-of-type {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.all-the-links ul:nth-child(2) {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.all-the-links ul:nth-child(3) {
  width: 20%;
  display: flex;
  align-items: center;
}

.all-the-links ul li {
  font-size: 20px;
  font-weight: bold;
}

.all-the-links ul li,
.all-the-links ul li,
.all-the-links ul li,
.all-the-links ul li {
padding-left: 20px;
}

.all-the-links li:hover {
  color: lime;
}

ul:nth-child(3) span:nth-child(1) {
  padding: 10px 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.sign-in {
  background-color: grey;
  color: #000000;
}

.get-app {
  background-color: #000000;
  color: #FFFFFF;
}

.get-app:hover {
  background-color: grey;
}

/* -------------------------------------- */
